@use '../sass/abstracts/vars';
@use '../sass/abstracts/mixins';

.colorpicker {
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: center;
    .large_image_relative_parent {
        position: relative;
        height: 0;
        padding-bottom: calc(607 / 1150) * 100%;
        @include mixins.breakpoint(laptop) {
            padding-bottom: calc(0.52 * 700px);
        }
    }
    .large_image_wrapper {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
    }
    .large_image {
        width: 100%;
        height: auto;
        @include mixins.breakpoint(laptop) {
            width: 700px;
        }
    }
}

.swatches {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
    margin-bottom: 1rem;
}

.swatch {
    width: 3rem;
    height: 3rem;
    transition: all .25s;
    &.active{
        border: 2px solid vars.$color_blue;
    } 
}